<div class="container">
	<form [formGroup]="userForm" novalidate>
	  <div class="form-group">
	    <label class="center-block">userName:
	      <input class="form-control" formControlName="userName">
	    </label>
	  </div>
	  <div class="form-group">
	    <label class="center-block">firstName:
	      <input class="form-control" formControlName="firstName">
	    </label>
	  </div>
	  <div class="form-group">
	    <label class="center-block">lastName:
	      <input class="form-control" formControlName="lastName">
	    </label>
	  </div>
	  <div formGroupName="address" class="well well-lg">
		  <div class="form-group">
		    <label class="center-block">Street:
		      <input class="form-control" formControlName="street">
		    </label>
		  </div>
		  <div class="form-group">
		    <label class="center-block">City:
		      <input class="form-control" formControlName="city">
		    </label>
		  </div>
		  <div class="form-group">
		    <label class="center-block">Zip Code:
		      <input class="form-control" formControlName="zipCode">
		    </label>
		  </div>
		</div>
	</form>
	<strong>userForm</strong>
	<br/>userForm.value <i class="text-info">{{userForm.value | json}}</i>
	<br/>dirty <i class="text-info">{{userForm.dirty}}</i>
	<br/>touched <i class="text-info">{{userForm.touched}}</i>
	<br/>valid <i class="text-info">{{userForm.valid}}</i>
	<br/>errors <i class="text-info">{{userForm.errors | json}}</i>
	<br/>
	<strong>userName</strong>
	<br/>control username value <i class="text-info">{{userForm.controls.userName.value}}</i>
	<br/>control username dirty <i class="text-info">{{userForm.controls.userName.dirty}}</i>
	<br/>control username touched <i class="text-info">{{userForm.controls.userName.touched}}</i>
	<br/>control username valid <i class="text-info">{{userForm.controls.userName.valid}}</i>
	<br/>control username errors <i class="text-info">{{userForm.controls.userName.errors | json}}</i>

</div>
